# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Envs & secrets
.venv/
.env
.env.*

# Generated data & indexes
../data/json/
store/

# Keep empty folders visible
!../data/json/.gitkeep

# OS cruft
.DS_Store
Thumbs.db

# (optional) PDFs, if you don’t use LFS
data/raw/*.pdf
