# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Envs & secrets
.venv/
.env
.env.*
.idea/

# Generated data & indexes
data/json/*
src/logs/*

# Secrets
.streamlit/secrets.toml

# Keep empty folders visible
!data/json/.gitkeep
!src/logs/.gitkeep

# OS cruft
.DS_Store
Thumbs.db


